{% extends "layout.html" %}

{% block title %}
    Danh sách nhân viên
{% endblock %}

{% block content %}
<div class="container1">
    <h1>Thêm nhân viên</h1>
    <form action="{% url 'addrec' %}" method="POST">
        {% csrf_token %}
        <label for="first_name">Họ</label><br><br>
        <input type="text" name="first_name" required><br><br>

        <label for="last_name">Tên</label><br><br>
        <input type="text" name="last_name" required><br><br>

        <label for="created_at">Ngày tạo</label><br><br>
        <input type="datetime-local" name="created_at" required><br><br>

        <label for="updated_at">Ngày cập nhật</label><br><br>
        <input type="datetime-local" name="updated_at" required><br><br>

        <button type="submit" id="new">Thêm nhân viên</button>
    </form>
</div>

{% endblock %}