{% extends 'layout.html' %}

{% load static %}

{% block title %}
  Map Page
{% endblock %}

{% block map %}
  <link rel="stylesheet" href="{% static 'css/map/style.css' %}" />
  <link rel="stylesheet" href="{% static 'css/cinema/style.css' %}" />
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css" />
  <link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.css" />
  <script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"></script>
  <script src="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.fullscreen/1.6.0/Control.FullScreen.min.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.fullscreen/1.6.0/Control.FullScreen.min.js"></script>
{% endblock %}

{% block content %}
  <!-- Sidebar bên phải -->

  <div class="container-fluid">
    <div class="row" style="height: 650px">
      <div id="map">
        <div id="sidebar" class="sidebar">
          <div class="sidebar-content">
            <!-- Nội dung sẽ được thêm bằng JavaScript -->
          </div>
          <button class="close-btn" onclick="closeSidebar()">✖</button>
        </div>
      </div>
    </div>
    <ul class="layers"></ul>
  </div>
{% endblock %}

{% block script %}
  <script src="{% static 'js/cinema/map-config.js' %}"></script>
  <script src="{% static 'js/cinema/layer-control.js' %}"></script>
  <script src="{% static 'js/cinema/routing.js' %}"></script>
  <script src="{% static 'js/cinema/script.js' %}"></script>
{% endblock %}
